$ff_base: "Open Sans", Arial, sans-serif;
// Ибо дизайн
$fw_light: 300;
$fw_base: 400;
$fw_normal: 400;
$fw_medium: 500;
$fw_bold: 700;

$fz_small: 12px;
$fz_base: 14px;
$fz_medium: 15px;
$fz_large: 18px;
$fz_paragraph: 18px;
$fz_subtitle: 20px;
$fz_btn: 14px;
$fz_big: 24px;
$fz_phone: 30px;

$fz_mega: 36px;

$fz_h1: 56px;
$lh_h1: 1;

$fz_h2: 22px;
$lh_h2: 28/22*1;

$fz_h3: 20px;
$lh_h3: 24/20*1;


$lh_small: 15/12*1;
$lh_base: 18/14*1;
$lh_big: 30/24*1;
$lh_medium: 22/15*1;
$lh_large: 24/18*1;

$f_base: $fw_base $fz_base/#{$lh_base} $ff_base;



$c_base: #05243D;
$c_title: #05243D;

$c_link: #73cae8;
$c_blue: #73cae8;

$c_muted: #BABFC4;
$c_gray: #4d4d4d;

$c_btn-base: #fff;


$bg_body: #dadada;
$bg_blue: #73cae8;
$bg_blue-light: #E6F5FB;
$bg_blue-dark: #05243D;


$w_wrapper-min: 1000px;
$w_wrapper-max: 100%;
$w_left-panel: 250px;


$content-offset: 100px;
// $h_footer: 75px;

// z-index's
$z_1: 1;
$z_2: 2;
$z_5: 5;
$z_10: 10;
$z_100: 100;
$z_callme: 1000;
$z_panel: 100;

// $container-width: 1280px;