// Традиционное обнуление
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



// Скрываем текст
@mixin hide-text() {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
@mixin text-hide() {
  @include hide-text;
}



// Скрываем выходящий за границы текст и ставим многоточия
// !!! Работает ТОЛЬКО с однострочным текстом !!!
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



// Нулевое центрирование для картинок
@mixin zero-centering() {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}



// Тени через запятую
@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
}



// Обнуляем списки
@mixin list-clear() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



// Дефолтный тразнишн
@mixin trz($smth: all, $dur: .1s, $ttf: ease-in-out) {
  transition: $smth $dur $ttf;
}



// Опасити ховер
@mixin opacity-hvr() {
  opacity: 1;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
}



// Стилизация placeholder'ов
@mixin placeholder($color:  #000) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}


// Без подчеркиваний
@mixin tdn($value: underline) {
  text-decoration: none;
  &:hover {
    text-decoration: $value;
  }
  &:active {
    text-decoration: $value;
  }
}



// С подчеркиваниями
@mixin tdr() {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}



// shadow-in-hvr(color: #000, tension: 3px, percent: 10%)
//   box-shadow inset 0 0 0 tension color

//   &:hover
//     box-shadow inset 0 0 0 tension lighten(color, percent)

//   &:active
//     box-shadow inset 0 0 0 tension darken(color, percent)


// border-hvr(color: #000, percent: 10%)
//   border-color color

//   &:hover
//     border-color lighten(color, percent)

//   &:active
//     border-color darken(color, percent)



// Ховерим текст
@mixin color-hvr($color: $c_base, $percent: 10%) {
  color: $color;
  &:hover {
    color: lighten($color, $percent);
  }
  &:active {
    color: darken($color, $percent);
  }
}



// Ховерим бэкграунд
@mixin bg-hvr($bg-c: #000, $percent: 10%) {
  background-color: $bg-c;
  &:hover {
    background-color: lighten($bg-c, $percent);
  }
  &:active {
    background-color: darken($bg-c, $percent);
  }
}

// Альтернативный ховер бекграунда
@mixin bg-hvr--dark($bg-c: #f5f5f5, $percent: 7%) {
  background-color: $bg-c;
  &:hover {
    background-color: darken($bg-c, $percent);
  }
  &:active {
    background-color: darken($bg-c, $percent+5%);
  }
}

/// Convert angle
/// @author Chris Eppstein
/// @param {Number} $value - Value to convert
/// @param {String} $unit - Unit to convert to
/// @return {Number} Converted angle
@function convert-angle($value, $unit) {
  $convertable-units: deg grad turn rad;
  $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
  @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
    @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
  }

  @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}

/// Test if `$value` is an angle
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-direction or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - convert-angle($value, 'deg');
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}