.bordered-plate {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  min-height: 154px;
  border: 3px solid $c_blue;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;

  &__title {
    position: relative;
    font-size: $fz_big;
    font-weight: $fw_light;
    line-height: 31/24*1;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-image: url("./img/icons/i_callcenter.png");
    background-position: left center;
    margin-bottom: 20px;
  }
}