$lh_box-title: 80px;

.box {

  &:not(:last-child) {
    margin-bottom: 55px;
  }

  &--raised {
    position: relative;
    top: -1px;
  }

  &__title {
    display: block;
    font-size: $fz_base;
    font-size: $fz_big;
    line-height: $lh_box-title;
    font-weight: $fw_bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -$content-offset;
    margin-right: -$content-offset;
    background-color: $bg_blue;
    color: $c_title;
    padding-left: $content-offset;
    padding-right: $content-offset;
  }

}
