.collapse-panel {
  padding-top: 15px;

  &__area-wrap {
    padding-top: 15px;
    margin-bottom: 15px;
  }



  &__area {

  }

  &__area-content {
    // padding-top: 10px;

    p {
      font-size: $fz_small;
      line-height: $lh_small;
      font-weight: $fw_light;
      color: $c_base;
      margin: 10px 0;

    }
  }

  &__area-header {
    a {
      display: inline-block;
      vertical-align: top;
      font-size: $fz_big;
      font-weight: $fw_light;
      line-height: 1;
      color: $c_base;
      position: relative;

      @include tdn(none);
      border-bottom: 1px solid;


      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: -34px;
        transform: rotate(45deg);
        width: 18px;
        height: 18px;
        transition: border .25s ease-in-out,
                    transform .25s ease-in-out,
                    top .25s ease-in-out;
        border: 2px solid $c_blue;
        border-left-color: transparent;
        border-top-color: transparent;
      }

      &:hover {
        border-color: $c_blue;

        &:before {
          border: 4px solid $c_blue;
          border-left-color: transparent;
          border-top-color: transparent;
        }
      }
    }

    &.open {
      a {
        border-bottom-color: transparent;
        &:before {
          transform: rotate(-135deg);
          top: 7px;
        }
      }
    }

  }



}