.first-screen {
  width: 100%;
  // height: 100%;
  height: 100vh;

  background: url("./img/bg_slider.jpg") no-repeat center center/cover fixed;
  position: relative;



  &__btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}