$w_main-nav: 550px;
$h_main-nav: 75px;
$h_main-nav--sticky: 50px;
$bg_main-submenu-hover: #F7F7F7;
$z_menu-hover: $z_panel + 5;


.main-navigation {
  float: right;
  max-width: $w_main-nav;
  height: $h_main-nav;
  background: #fff;
  line-height: 1;
  position: relative;
}
