.main-slider {
  width: 100%;
  height: 100% !important;

  &__item {
    width: calc(100vw - 250px) !important;
    height: 100% !important;
    position: relative;
  }

  &__title {
    font-size: $fz_mega;
    color: $c_title;
    font-weight: $fw_light;
    line-height: 44/36*1;
    max-width: 50%;
    padding-top: 60px;
    padding-left: 68px;
  }

  &__img-wrap {
    width: 50%;
    max-width: 650px;
    position: absolute;
    right: 5%;
    bottom: 0;
    top: auto;
    text-align: right;
    // max-height: 90%;

    img {
      /* max-height: 100%;
      display: block;
      max-width: 100%;
      height: auto; */
      max-width: 100%;
      width: auto;
      max-height: 100vh;
    }
  }
}