.simple-table {
  width: 550px;
  border-collapse: collapse;
  margin-top: 18px;


  tr {

  }
  td {
    font-size: $fz_base;
    color: $c_base;
    line-height: 17/14*1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
    font-weight: $fw_bold;

    span {
      font-size: $fz_large;
    }

    &:nth-child(2) {
      width: 200px;
      text-align: right;
    }
  }

  tr:nth-child(odd) {
    td {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $bg_blue;
    }
  }
}