.specialists {
  padding-top: 33px;
  padding-bottom: 40px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;

  margin-left: -22px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-bottom: 22px;
    width: 120px;
    border: 1px solid $c_blue;
  }

  &__image-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 140px;

    img {
      max-width: 100%;
      height: auto;
      max-height: 120px;
    }
  }

  &__name {
    height: 42px;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: $fz_small;
    font-weight: $fw_light;
    line-height: $lh_small;
    color: $c_base;
    background-color: $bg_blue;

    span {
      font-size: 9.5px;
    }
  }
}