html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

textarea {
  resize: vertical;
}

.hide,
.hidden {
  display: none !important;
}

// =========================
// MIXINS INIT
// =========================
.cf,
.clearfix {
  @include clearfix;
}

// .cf-justify {
//   @include cf-justify;
// }
.list-clear,
.clear-list,
.clearlist {
  @include list-clear;
}

.hide-text,
.text-hide {
  @include hide-text;
}

/* .img-responsive {
  @include img-responsive;
} */

.text-overflow {
  @include text-overflow;
}

.tc {
  text-align: center !important;
}


/* .color-hvr {
  @include color-hvr(c_base);
} */



/* .pull-left
  float left !important

.pull-right
  float right !important

.text-left
  text-align left !important



.text-right
  text-align right !important

.block
  display block

.last-child
  margin-bottom 0 !important

.fz0
  font-size 0 !important

.m0
  margin 0 !important

.mt0
  margin-top 0 !important

.mr0
  margin-right 0 !important

.mb0
  margin-bottom 0 !important

.ml0
  margin-left 0 !important

.p0
  top 0 !important

.pt0
  padding-top 0 !important

.pr0
  padding-right 0 !important

.pb0
  padding-bottom 0 !important

.pl0
  padding-left 0 !important
 */




