body {
  background: $bg_body;
  height: auto;
}
html,
body {
  min-width: $w_wrapper-min;
  height: 100%;
}
html {
  height: 100%;
}
.wrapper {
  // padding: $wrapper_v-offset 0;
  min-width: $w_wrapper-min;
  max-width: $w_wrapper-max;
  padding: 0;
  margin: 0;
  padding-left: $w_left-panel;
  height: 100%;
}
.wrapper .content {
  padding-left: $content-offset;
  padding-right: $content-offset;
  min-height: 100%;
  background-color: #fff;
}

.container {
  width: 100%;
}


.fixed-content {
  min-width: 550px;
  max-width: 600px;
}