// =========================
// Body reset
// =========================
html {
  font-size: $fz_base;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // font-family: $ff_base;
  // font-size: $fz_base;
  // line-height: $lh_base;
  font: $f_base;
  color: $c_base;
}





// =========================
// Reset fonts for relevant elements
// =========================
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  &:focus {
    outline:none;
  }
}




// // =========================
// // Figures
// //
// // We reset this here because previously Normalize had no `figure` margins. This
// // ensures we don't break anyone's use of the element.
// // =========================
// figure
//   margin 0





// =========================
// Images
// =========================
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;

  &.fullwidth-img {
    display: block;
    width: 100%;
    margin: 0 auto 16px;
    height: auto;
  }
}

// .img-responsive
//   img-responsive()
//   margin 0 auto



// =========================
// Horizontal rules
// =========================
hr {
  margin-top: $fz_base;
  margin-bottom: $fz_base;
  border: 0;
}


// =========================
// Headers
// =========================
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  font-family: $ff_base;
  font-weight: $fw_base;
  margin: 0;
  color: $c_title;
}

.h1 {
  font-size: $fz_h1;
  line-height: 1;
  margin-bottom: $fz_h1/3*2;
}
h1 {@extend .h1;}

.h2 {
  font-size: $fz_h2;
  line-height: 1;
  margin-bottom: $fz_h2/3*2;
}
h2 {@extend .h2;}

.h3 {
  font-size: $fz_h3;
  line-height: $lh_h3;
  margin-bottom: $fz_h3/3*2;
}
h3 {@extend .h3;}

// h2
// .h2
//   font-size 24px
//   margin 0 0 12px
//   line-height 1




// =========================
// base text
// =========================
p {
  color: $c_base;
  font-size: $fz_paragraph;
  font-weight: $fw_light;
  line-height: $lh_large;
  text-align: justify;
  margin: 0 0 12px;

  strong,
  b {
    font-weight: $fw_bold;
    font-family: $ff_base;
  }

// small,
// .small
//   font-size fz_small

// .text-small
//   font-size fz_small
//   line-height lh_middle

// .text-huge
//   font-size fz_huge

// .text-blue
//   color c_blue
}



// =========================
// Lists
// =========================
ol {
  padding: 0 0 0 20px;
  li {
    margin: 0 0 5px;
  }
}

/* ol.big-ol
  margin 10px 0 20px
  padding 0
  counter-reset bigList

  li
    display block
    margin 0
    padding 6px 0 6px 60px
    min-height 34px
    position relative
    list-style-type none
    font-weight 600
    &:before
      counter-increment bigList
      content counter(bigList)
      display block
      position absolute
      left 12px
      top 0
      width 34px
      height 34px
      border 2px solid c_green
      border-radius 17px
      text-align center
      font-size 18px
      line-height 30px

    a
      font-weight 400

  li + li
    margin-top 6px */

/* ul.green-ul
  list-style-type none
  padding 0
  margin 12px 0

  li
    position relative
    padding 0 0 0 25px

    &:before
      content "•"
      position absolute
      left 9px
      color c_green
      font-size 20px

  &--mt0
    margin-top 0

  li + li
    margin-top 20px
*/

/* ul.ul-next
  @extends .list-clear

  li
    position relative
    padding 0 0 0 20px

    &:before
      position absolute
      left 2px
      top 9px
*/

// =========================
// Tables
// =========================
table {
  font-size: $fz_base;
  width: 100%;
  border-collapse: collapse;
}

// .td-normal
//   text-decoration underline

//   &:hover
//   &:focus
//     text-decoration none

//   &:active
//     text-decoration none

// .td-alt
//   text-decoration none

//   &:hover
//     text-decoration underline





// =========================
// Links
// =========================
a {
  color: $c_blue;
  @include tdn;
  @include trz(all, .25s);

  &:hover {
    color: $c_link;
  }
  &:focus {
    outline: none;
    color: $c_link;
    text-decoration: none;
  }
  &:active {
    color: $c_link;
    outline: none;
  }
}


.text-blue {
  color: $c_blue;
}
.link-blue {
  color: $c_blue;
  &:hover,
  &:active {color: $c_blue;}
}


//   // &.text-blue
//   //   @extend .tdr
//   //   &:hover
//   //     @extend .text-blue


// tdn()
//   text-decoration none

//   &:hover,
//   &:active,
//   &:focus
//     text-decoration none

// $tdn
//   tdn()

// .tdn
//   @extends $tdn


// td-reverse()
//   text-decoration none

//   &:hover,
//   &:active,
//   &:focus
//     text-decoration underline

// $tdr
//   td-reverse()


// .tdr
//   @extends $tdr

// .link-small
//   color-hvr (c_muted)
//   font-size 10px



// .link-dark-green
//   color c_base

//   &:hover
//     color c_green

//   &:active
//     color darken(c_green, 10%)



// .link-blue
//   color-hvr(c_blue)


